$font__main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font__code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
